<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Titticket</title>

  <link href="/css/mini-default.min.css" media="all" rel="stylesheet" type="text/css" />
  <link href="/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css" />
  <link href="/css/loader.css" media="all" rel="stylesheet" type="text/css" />

  <%= javascript_include_tag 'app' %>
</head>
<body>
</body>
</html>
